<nav
  class="header-navbar navbar navbar-expand-lg bg-body-tertiary flex-column position-fixed"
>
  <div class="container-fluid flex-column align-items-start px-0 h-100">
    <div class="w-100">
      <a class="navbar-brand px-2 pt-3" href="#"
        ><img src="../assets/images/logo-ANSWER.svg" alt="answer" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse mt-4" id="navbarNav">
        <ul class="navbar-nav flex-column">
          <li class="nav-item">
            <a
              class="nav-link fw-bold border-start border-white border-3 ps-3"
              aria-current="page"
              href="#"
              ><span class="material-symbols-outlined align-bottom pe-2">
                analytics
              </span>
              Dashboard</a
            >
          </li>
          <li class="nav-item my-2">
            <a
              class="nav-link fw-bold border-start border-white border-3 ps-3"
              href="#"
              ><span class="material-symbols-outlined align-bottom pe-2">
                question_answer </span
              >Question</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link active border-start border-3 fw-bold ps-3 <%= page === 'assignment' ? 'border-success text-success' : '' %>"
              href="/web-layout-training-vite/pages/index.html"
              ><span class="material-symbols-outlined align-bottom pe-2">
                assignment </span
              >Assignment</a
            >
          </li>
          <li class="nav-item my-2">
            <a
              class="nav-link fw-bold border-start border-white border-3 ps-3"
              href="#"
            >
              <span class="material-symbols-outlined align-bottom pe-2">
                video_library </span
              >Course</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link active fw-bold border-start border-3 ps-3 <%= page === 'admin' ? 'border-success text-success' : '' %>"
              href="/pages/admin.html"
              ><span class="material-symbols-outlined align-bottom pe-2">
                supervisor_account </span
              >Admin</a
            >
          </li>
          <li class="nav-item my-2">
            <a
              class="nav-link fw-bold border-start border-white border-3 ps-3"
              href="#"
              ><span class="material-symbols-outlined align-bottom pe-2">
                settings </span
              >Settings</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="d-flex align-self-start ms-3">
    <div class="flex-shrink-0">
      <img
        class="icon rounded-circle object-fit-cover"
        src="../assets/images/andychen.jpeg"
        alt="andychen"
      />
    </div>
    <div class="flex-grow-1 ms-3">
      <p class="fw-bold">Andy Chen</p>
      <p class="text-body-tertiary">andy0401@mail.com</p>
    </div>
  </div>
</nav>
