.icon {
  width: 48px;
  height: 48px;
}
.content {
  width: calc(100% - 296px);
  margin-left: auto;
  // .hr {
  //   width: 90%;
  // }

  // .section-b {
  //   width: 100%;
  // }
  // .section-r {
  //   width: 620px;
  // }
  // .section-l {
  //   width: 350px;
  // }
}

.cb-1 {
  height: 20vh;
}
